

  li a:hover:not(.active) {
    background-color: red;
  }
  
  .active {
    background-color: red;
    
  }
  .Camera {
      width: 400px;
      background-color: grey;
      border: 10px solid rebeccapurple;
      margin: 30px auto 0px;
  }

  .footer 
  {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:white;
    color:black;
    text-align: center;
    clear: both;
    margin-top: -200;
    height: 200;
  }

 


