

  li a:hover:not(.active) {
    background-color: red;
  }
  
  .active {
    background-color: red;
    
  }
  .Camera {
      width: 400px;
      background-color: grey;
      border: 10px solid rebeccapurple;
      margin: 30px auto 0px;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;


}
